apiVersion: apps/v1
kind: Deployment
metadata:
  name: mealie
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mealie
  template:
    metadata:
      labels:
        app: mealie
    spec:
      containers:
        - name: mealie
          image: ghcr.io/mealie-recipes/mealie:v3.9.2
          ports:
            - containerPort: 9000
          securityContext:
            allowPrivilegeEscalation: false
          resources:
            requests:
              memory: "512Mi"
              cpu: "512m"
            limits:
              memory: "1024Mi"
              cpu: "1000m"
          volumeMounts:
            - name: mealie-data
              mountPath: /app/data
            - name: mealie-nltk-data
              mountPath: /var/www/nltk_data
      volumes:
        - name: mealie-data
          persistentVolumeClaim:
            claimName: mealie-data-pvc
        - name: mealie-nltk-data
          persistentVolumeClaim:
            claimName: mealie-nltk-data-pvc