apiVersion: apps/v1
kind: Deployment
metadata:
  name: weatherstar
spec:
  replicas: 2
  selector:
    matchLabels:
      app: weatherstar
  template:
    metadata:
      labels:
        app: weatherstar
    spec:
      securityContext:
        fsGroup: 1000 # node group ID
        runAsUser: 1000 # node user ID
        runAsGroup: 1000 # node group ID
      volumes:
        - name: nginx-includes
          emptyDir: {}
        - name: nginx-cache
          emptyDir: {}
        - name: nginx-run
          emptyDir: {}
      initContainers:
        - name: init-nginx-dirs
          image: ghcr.io/netbymatt/ws4kp:6.5.0
          command:
            - sh
            - -c
            - |
              chown 1000:1000 /etc/nginx/includes /var/cache/nginx /var/run
          securityContext:
            runAsUser: 0
          volumeMounts:
            - name: nginx-includes
              mountPath: /etc/nginx/includes
            - name: nginx-cache
              mountPath: /var/cache/nginx
            - name: nginx-run
              mountPath: /var/run
      containers:
        - name: weatherstar
          image: ghcr.io/netbymatt/ws4kp:6.5.0
          ports:
            - containerPort: 8080
          securityContext:
            allowPrivilegeEscalation: false
          volumeMounts:
            - name: nginx-includes
              mountPath: /etc/nginx/includes
            - name: nginx-cache
              mountPath: /var/cache/nginx
            - name: nginx-run
              mountPath: /var/run
