apiVersion: apps/v1
kind: Deployment
metadata:
  name: weatherstar
spec:
  replicas: 2
  selector:
    matchLabels:
      app: weatherstar
  template:
    metadata:
      labels:
        app: weatherstar
    spec:
      securityContext:
        fsGroup: 1000 # node group ID
        runAsUser: 1000 # node user ID
        runAsGroup: 1000 # node group ID
      volumes:
        - name: nginx-includes
          emptyDir: {}
      initContainers:
        - name: init-nginx-dirs
          image: ghcr.io/netbymatt/ws4kp:6.5.0
          command: ["sh", "-c", "chown 1000:1000 /etc/nginx/includes"]
          securityContext:
            runAsUser: 0
          volumeMounts:
            - name: nginx-includes
              mountPath: /etc/nginx/includes
      containers:
        - name: weatherstar
          image: ghcr.io/netbymatt/ws4kp:6.5.0
          ports:
            - containerPort: 8080
          securityContext:
            allowPrivilegeEscalation: false
          volumeMounts:
            - name: nginx-includes
              mountPath: /etc/nginx/includes
