apiVersion: apps/v1
kind: Deployment
metadata:
  name: linkding
spec:
  replicas: 1
  selector:
    matchLabels:
      app: linkding
  template:
    metadata:
      labels:
        app: linkding
    spec:
      securityContext:
        fsGroup: 33 # www-data group ID
        runAsUser: 33 # www-data user ID
        runAsGroup: 33 # www-data group ID
      initContainers:
        - name: wait-for-volume
          image: busybox:1.37
          command: ['sh', '-c', 'until [ -d /etc/linkding/data ]; do echo "Waiting for volume..."; sleep 2; done; echo "Volume ready"']
          volumeMounts:
            - name: linkding-data
              mountPath: /etc/linkding/data
      containers:
        - name: linkding
          image: sissbruecker/linkding:1.45.0
          ports:
            - containerPort: 9090
          envFrom:
            - secretRef:
                name: linkding-container-env
          securityContext:
            allowPrivilegeEscalation: false
          startupProbe:
            exec:
              command:
              - ls
              - /etc/linkding/data
            initialDelaySeconds: 5
            periodSeconds: 3
            failureThreshold: 30
          volumeMounts:
            - name: linkding-data
              mountPath: /etc/linkding/data
      volumes:
        - name: linkding-data
          persistentVolumeClaim:
            claimName: linkding-data-pvc